<div class="splash-screen-container">
	<h1 class="application-title">Safe Budget</h1>
	<h2 class="application-subtitle">A budgeting app for the modern world</h2>
	<div class="splash-screen-buttons">
		<%= link_to "Sign Up", new_user_registration_path, class: "splash-screen-button" %>
		<%= link_to "Log In", new_user_session_path, class: "splash-screen-button" %>
	</div>
</div>
